* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
}

#main-container {
  flex-direction: column;
  padding: 50px;
  border-radius: 12px;
  border: solid 1px black;
  width: 80vw;
  max-width: 500px;
  display: flex;
  align-items: center;
}

#body {
  width: 100%;
  position: relative;
}

#title {
  font-family: Roboto;
  font-weight: bold;
  margin-bottom: 24px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  padding: 50px;
}

/* List */

#main-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 5px;
  padding: 0;
}

.list-element {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

/* List Options */
.le-option-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.le-option-container button {
  border: none;
  padding: 5px;
  border-radius: 3px;
  display: flex;
}

/* Inputs */
.list-input {
  border: solid 1px rgba(0, 0, 0, 0.3);
  outline: none;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
}

/* Rendered and Done Input */
.rendered-input,
.done-input {
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  width: 100%;
  transition: 200ms;
}

.marked-text {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}

.rendered-input:hover .rendered-modal {
  opacity: 1;
}

.done-input:hover .done-modal {
  opacity: 1;
}

.list-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(222, 222, 222);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: inherit;
  opacity: 0;
  color: white;
  transition: 200ms;
  font-size: 14px;
}

.rendered-modal {
  background-color: rgba(6, 140, 6, 0.9);
}

.done-modal {
  background-color: rgba(211, 2, 2, 0.9);
}

.done-input span {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  transition: 200ms;
}

.done-input span:hover {
  opacity: 0;
}

/* Add list button */
.add-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.add-list-container button {
  border: none;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(90, 90, 90);
  transition: 200ms;
}

.add-list-container button:hover {
  background-color: black;
}

/* Re Arrange Buttons */
.re-arrange-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.re-arrange-container button {
  width: 24px;
  aspect-ratio: 1/1;
  border: none;
  background: none;
  border-radius: 50%;
  transition: 200ms;
}

.re-arrange-container button:hover {
  background-color: rgb(234, 234, 234);
}
