.card {
  border: solid 1px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 6px 7px 3px rgba(0, 0, 0, .1);
  max-width: 250px;
  margin: 10px;
}

.card .card-image {
  max-width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  border: solid 1px;
  margin-bottom: 10px;
}

.card .card-title {
  color: black;
  font-size: 36px;
}

.card .card-text {
  color: rgba(0, 0, 0, .5);
}